<!-- templates/layout.tmpl -->
<html>

<head>
    <title>finstreamz - the money stream calculator </title>
    <script src="/js/angular.js" type="text/javascript"></script>
    <script src="/js/jquery-2.1.3.min.js" type='text/javascript'></script>
    <script src="/js/angular-gridster.min.js" type="text/javascript"></script>
    
    <link href="/style/angular-gridster.min.css" rel="stylesheet" type="text/css" />
    <link href="/style/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/style/unsemantic-grid-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/style/finstreamz.css" rel="stylesheet" type="text/css"/>
    <script src="/js/dygraph.js" type='text/javascript'></script>
    <script src="/js/controllers.js" type='text/javascript'></script>
    <script src="/js/moneystream.js" type='text/javascript'></script>
    <script src="/js/moment.js" type='text/javascript'></script>

</head>

<body ng-app="finstreamz">
    <!-- Render the current template here -->
    {{ yield }}
</body>

</html>
